
<h1 class="counter-heading">Counter</h1>

<div class="card  quality center">
  
  <div class="card-body">
    <div class="quality center">
      
      <button mat-button  color="primary" (click)="Decrement()">-</button>
      
        <mat-form-field  style="padding: 20px;">
          
          <input matInput style="text-align: center;"   [value]="service.counter">
        </mat-form-field>
      
      <button mat-button  color="primary" (click)="Increment()">+</button>
    </div>
  </div>
</div>

  
