form .fieldTitle {
    line-height: 24px;
    background-color: red;
}

form .inputValue {
    line-height: 18px;
}

.mandatory {
    color: red;
}

.toolTip {
    position: relative;
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
}


mat-form-field {
 
        width: 100%;
        margin-bottom: 4%;    
}

