<div class="container">
<h1 style="text-align: center;">Users Data</h1>
<button class="btn btn-primary" routerLink="/adduser" style="margin-bottom: 20px; color: darkgreen;">Add User</button>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">UserId</th>
        <th scope="col">Id</th>
        <th scope="col">title</th>
        <th scope="col">Body</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
        <td>{{user.userid}}</td>
        <td><a [routerLink]="['/user',user.id]">{{user.id}}</a></td>
        <td>{{user.title}}</td>
        <td>{{user.body}}</td>
        <td>
          <a class="btn text-primary" [routerLink]="['/adduser']" (click)="edit(user)">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a class="btn text-danger" (click)="deleteUser(user.id)">
            <i class="fa fa-trash"></i>
          </a>
        </td>
    </tbody>
    </table>
  </div>

    