<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card class="login-content">
        <h1>Sign In</h1>
        <mat-card-content>
            <div>
                <div>
                    <app-input-field [focusFlag]=true class="expand-input-full formElement" [parentForm]="loginForm"
                        [placeholderValue]=nameLabel [labelValue]=nameLabel [isMandatory]=true [Name]=Name
                        [error]=nameError>
                    </app-input-field>
                </div>
                <app-text-input [focusFlag]=true class="expand-input-full formElemt" [parentForm]="loginForm"
                    [placeholderValue]=CommentLabel [labelValue]=CommentLabel [isMandatory]=true [Name]=Comment
                    [error]=CommentError>
                </app-text-input>
            </div>
            <app-date-picker [focusFlag]=true class="expand-input-full formElement" [parentForm]="loginForm"
                [placeholderValue]=DateLabel [labelValue]=DateLabel [isMandatory]=true [Name]=Date [error]=nameError>
            </app-date-picker>
            <app-radio-button [labelValue]=radioLabel [options]="options" [Name]=Gender>

            </app-radio-button>
        </mat-card-content>
        <div class="flexrow">
            <button mat-button [disabled]="!loginForm.valid" color="accent">Save</button>
            <button mat-button color="warn" (click)="onReset()">Reset</button>
        </div>
    </mat-card>
</form>