@import 'C:\Users\chenn\OneDrive\Desktop\Demo\src\assets\styles\styles.scss';

/* .formcontent {
    padding: 0  18%;
    background-color: black;
}

.flexrow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.margin-top {
    margin-top: 8%;
}

mat-form-field {
    width: 400px;
    margin-bottom: 4%;
} */