form .fieldTitle {
    line-height: 24px;
}

form .inputValue {
    line-height: 18px;
}

.mandatory {
    color: red;
}

.toolTip {
    position: relative;
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
}

.childToolTip {
    position: absolute;
    display: none;
    top: -16px;
    left: 17px;
    width: 300px;
    background: gray;
    padding: 5px;
    word-wrap: break-word;
}

mat-form-field {
 
        width: 100%;
        margin-bottom: 4%;  
}