
.quality {
    display: flex;
    justify-content: center;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    height: 70px;
    background-color: #E32562;
  }
  
  .center button {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    color: red;
    margin-top: 10px;
    border-radius: 0;
    background: skyblue
  }
  .counter-heading {
    display: flex;
    justify-content: center;
    padding-top: 230px;
  }

.full-width{
    width: 100%;
}

.top-padding{
    padding-top: 3px;
}

.form-card {
    width: 30%;
    margin: auto;
    margin-top: 4%;
    border: 1px solid grey;
    
}
 
.buttons {
    margin: 20px; 
}

.mat-form-field-outline-thick {
    color: black !important;
}

.mat-form-field {
    width: 100px;
}

.add-user-heading {
    text-align: center;
    color: blue;
    padding-top: 15px;
}  

.user-heading {
    text-align: center;
}

.user-table {
    margin-top: 20px;
}

.user-data {
    text-align: center;
}

.user-add-button {
    margin-bottom: 20px;
}

.menu-spacer {
    flex: 1 1 auto;
  }

.expand-input-full {
  width: 100%;
  margin-bottom: 4%;
  
}

.formElement {
  margin-bottom: 4%;
 
}

.login-content {
  margin: auto;
  width: 30%;
  margin-top: 4%;
  border: 1px solid greenyellow;
  background-color: skyblue;

}

.mat-card {
  padding: 3%;
}

.flexrow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

button {
    width: 180px;
    background-color: antiquewhite;
}